﻿body {
    background-color: #eb6841;
    color: #4f372d;
}

.body-content {
    background-color: #edc951;
}

.navbar-inverse {
    background-color: #4f372d;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #f5f5f5;
}

.navbar-nav {
    float: right;
}


.whitespace {
    white-space: pre;
}

#moreExamples .whitespace,
.codespace{
    white-space: pre-line;
}

.modal-content h3,
.modal-content p {
    padding: 0 20px;
}

h3 {
    font-size: 1.25em;
}

code {
    background-color: transparent;
    color: #cc2a36;
}

.webAppList code {
    white-space: pre-line;
}

.well {
    margin-top: 1em;
}

#codeExamples li,
#moreExamples li {
    margin-bottom: 1em;
}

.text-info,
a {
    color: #03a0b0;
}

.btn-primary {
    background-color: #03a0b0;
}

.media-object {
    border-radius: 50%;
}

.media-object{
    width: 64px;
    height:64px;
}

.media-heading,
.media-object {
    margin-top:20px;
}

footer {
    padding: 0 20px;
}

h2:after {
    content: " ";
    display: block;
    border-bottom: 3px solid #4f372d;
}

hr {
    border-color: #4f372d;
}


@media (max-width:767px) {
    .navbar-nav {
        float:left; //set navbar to left on the mobile menu
    }
}